.navButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: var(--color-primary);
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-size: 24px;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    left: -16px;
}

.right {
    right: -16px;
}